@import "tailwindcss";


html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}


.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.brand-logo {
  height: 24px;
  width: auto;
  flex-shrink: 0;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.brand-logo:hover {
  opacity: 1;
  transform: translateY(-6px) scale(1.08);
}

/* Tablet */
@media (min-width: 768px) {
  .slide-track {
    gap: 90px;
  }

  .brand-logo {
    height: 32px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .slide-track {
    gap: 120px;
  }

  .brand-logo {
    height: 40px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .brand-logo {
    height: 48px;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333%);
  }
}




@keyframes float {
  0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    scrollbar-width: none; /* Firefox */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #FAF7F3;
  }

  ::-webkit-scrollbar-thumb {
    background: #D08A1A;
    border-radius: 10px;
    border: 2px solid #FAF7F3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #BB6805;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #D08A1A #FAF7F3;
  }
}